.contact-consultation {
  margin-top: 70px;
  @include to(1024px) {
    margin-top: 35px;
  }
  &__wrap {
    @include wrap;
  }
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: #303239;
    @include to(1200px) {
      font-size: 42px;
      line-height: 48px;
    }
    @include to(1024px) {
      font-size: 36px;
      line-height: 42px;
    }
    @include to(768px) {
      font-size: 30px;
      line-height: 36px;
    }
    @include to(576px) {
      font-size: 24px;
      line-height: 31px;
    }
  }
  &__subtitle {
    width: 100%;
    max-width: 370px;
    margin-top: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 138%;
    color: #303239;
    @include to(1024px) {
      max-width: 320px;
      margin-top: 15px;
      font-size: 14px;
    }
    @include to(576px) {
      margin-top: 5px;
    }
  }
  &__form {
    margin-top: 30px;
    @include to(1024px) {
      margin-top: 20px;
    }
  }
  &__fields {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include to(700px) {
      flex-flow: column nowrap;
      align-items: initial;
    }
    input {
      border: 1px solid #b8b7b7;
      border-radius: 3px;
      padding: 10px 20px;
      background: transparent;
      flex: 0 1 100%;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 126.19%;
      color: #303239;
      @include to(1024px) {
        padding: 10px 15px;
      }
      @include to(700px) {
        flex: auto;
        width: 100%;
      }
      &:not(:last-child) {
        margin-right: 40px;
        @include to(1024px) {
          margin-right: 20px;
        }
        @include to(700px) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
  &__footer {
    margin: 60px auto 0 auto;
    width: 100%;
    max-width: 610px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include to(1024px) {
      margin-top: 30px;
      max-width: 540px;
    }
    @include to(700px) {
      flex-flow: column nowrap;
      align-items: initial;
    }
    @include to(576px) {
      margin-top: 15px;
    }
  }
  &__btn {
    flex: 0 0 220px;
    margin-right: 25px;
    background-color: #6f5cea;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    transition: background 0.3s;
    @include to(1024px) {
      padding: 15px;
      font-size: 14px;
      line-height: 18px;
      flex: 0 0 200px;
    }
    @include to(700px) {
      order: 2;
      max-width: 300px;
      flex: auto;
      width: 100%;
      margin: 10px auto 0 auto;
    }
    &:hover {
      background-color: #bfc5f9;
      transition: background 0.3s;
    }
  }
  &__policy {
    flex: 0 1 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 126.19%;
    color: #303239;
    @include to(1024px) {
      font-size: 14px;
    }
    @include to(700px) {
      margin: 0 auto;
      order: 1;
      flex: auto;
      width: 100%;
      max-width: 315px;
      text-align: center;
    }
    a {
      text-decoration-line: underline;
      color: #b8b7b7;
      transition: color 0.3s;
      &:hover {
        color: #6f5cea;
        transition: color 0.3s;
      }
    }
  }
}
