include ../../inc/settings.pug

section.about-promo
  .about-promo__wrap 
    .about-promo__descr 
      h1.about-promo__title О компании
      .about-promo__text 
        p 
          strong BitBird&nbsp;
          | — это новая команда из опытных игроков крипторынка, мы соединились, чтобы создать проект совершенного нового уровня! В данной индустрии большая нехватка качественного сервиса по обслуживанию майнинга на видеокартах, поэтому мы решили запустить новый проект с целью закрыть эту потребность.
        p На сегодняшний день специализация компании – комплексные решения для майнинга, включая размещение оборудования на хостинге, прямые поставки оборудования, сервис и ремонт, разработка программного обеспечения для майнинга.
    .about-promo__img
      img(src=`${imgPath}about/about.png` alt="about-image" loading="lazy")
