include settings.pug

section.advantages
  .advantages__wrap
    .advantages__item
      .advantages__item-icon
        img(src=`${imgPath}advantages/advantage-1.svg` alt="advantage-image" loading="lazy")
      .advantages__item-desr
        h2.advantages__item-caption Быстрая доставка
        p.advantages__item-text Заказы доставляем в день обращения, оплата при получении
    .advantages__item
      .advantages__item-icon
        img(src=`${imgPath}advantages/advantage-2.svg` alt="advantage-image" loading="lazy")
      .advantages__item-desr
        h2.advantages__item-caption Лучшее качество
        p.advantages__item-text Все наши товары гарантировано надежны в экслуатации
    .advantages__item
      .advantages__item-icon
        img(src=`${imgPath}advantages/advantage-3.svg` alt="advantage-image" loading="lazy")
      .advantages__item-desr
        h2.advantages__item-caption Скидка и бонусы
        p.advantages__item-text Специальные предложения для наших постоянных клиентов
