section.callback
  .callback__wrap 
    .callback__descr
      h2.callback__title Заказать обратный звонок
      p.callback__subtitle Задача организации, в особенности же рамки и место обучения кадров влечет за собой процесс внедрения и модернизации новых предложений.
    form.callback__form(action="#") 
      .callback__fields 
        input.callback__input(type="text" name="name" placeholder="Имя")
        input.callback__input(type="tel" inputmode="tel" name="tel" placeholder="Номер телефона")
      .callback__footer 
        button.callback__btn Отправить
        p.callback__policy 
          | Нажимая кнопку “отправить”, вы соглашаетесь на обработку&nbsp;
          a(href="/policy.html") персональных данных
