section.modal-success(data-modal-success="block")
  .modal-success__overlay(data-modal-success="overlay")
  .modal-success__wrap 
    h2.modal-success__title
      | Ваша заявка отправлена.
      br 
      | Менеджер свяжется с Вами в ближайшее время
