block variables
  - var imgPath = "./img/";
  - var catalogGoods = require("../../src/pug/inc/data/catalog-goods.json");
  - var goods = require("../../src/pug/inc/data/goods.json");
  - var categories = require("../../src/pug/inc/data/catalog-categories.json");
  - var basket = require("../../src/pug/inc/data/basket.json");
