body {
  overflow-x: hidden;
  position: relative;
  font-family: "TTFirsNeue", sans-serif;
  &.blocked-scroll {
    -ms-touch-action: none;
    touch-action: none;
    overflow: hidden !important;
  }
}

.content {
  overflow: hidden;
}

.swiper-button-disabled {
  cursor: not-allowed;
}
