.policy-page {
  .content {
    padding: 60px 0;
    background-color: #f5f5f5;
    @include to(1024px) {
      padding: 30px 0;
    }
  }
}

.policy {
  &__wrap {
    @include wrap;
  }
  &__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: #303239;
    @include to(1200px) {
      margin-top: 5px;
      font-size: 42px;
      line-height: 48px;
    }
    @include to(1024px) {
      margin-top: 10px;
      font-size: 36px;
      line-height: 42px;
    }
    @include to(768px) {
      margin-top: 15px;
      font-size: 30px;
      line-height: 36px;
    }
    @include to(576px) {
      margin-top: 20px;
      font-size: 24px;
      line-height: 31px;
    }
  }
  &__content {
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    color: #292929;
    @include to(1024px) {
      font-size: 14px;
    }
    a {
      font: inherit;
      text-decoration-line: underline;
      color: #6f5cea;
      transition: color 0.3s;
      &:hover {
        color: #bfc5f9;
        transition: color 0.3s;
      }
    }
    ul {
      margin: 15px 0;
      list-style-type: none;
      font: inherit;
      li {
        padding-left: 24px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 8px;
          left: 0;
          width: 11px;
          height: 11px;
          background-color: #6f5cea;
          border-radius: 100%;
          @include to(1024px) {
            top: 6px;
            width: 10px;
            height: 10px;
          }
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
    ol {
      padding-left: 17px;
      margin: 15px 0;
      font: inherit;
      li {
        padding-left: 6px;
        margin-bottom: 20px;
        @include to(1024px) {
          margin-bottom: 15px;
        }
        &::marker {
          font-weight: bold;
          color: #6f5cea;
        }
      }
    }
    p {
      margin: 15px 0;
      font: inherit;
    }
    strong,
    b {
      font-weight: bold;
    }
  }
}
