extends inc/layout.pug

block append vars
  - bodyClass = "basket-page";

block content
  +links(["Главная", "Корзина"])
  section.basket
    .basket__wrap
      .basket__header 
        h1.basket__title Корзина
        p.basket__count 3 товара
      .basket__interaction
        a.basket__back(href="#") 
          svg(width="32" height="12" viewBox="0 0 32 12" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(
              d="M30.5 6.75C30.9142 6.75 31.25 6.41421 31.25 6C31.25 5.58579 30.9142 5.25 30.5 5.25L30.5 6.75ZM0.469669 5.46967C0.176777 5.76256 0.176777 6.23743 0.469669 6.53033L5.24264 11.3033C5.53553 11.5962 6.01041 11.5962 6.3033 11.3033C6.59619 11.0104 6.59619 10.5355 6.3033 10.2426L2.06066 6L6.3033 1.75736C6.59619 1.46446 6.59619 0.98959 6.3033 0.696697C6.01041 0.403804 5.53553 0.403804 5.24264 0.696697L0.469669 5.46967ZM30.5 5.25L1 5.25L1 6.75L30.5 6.75L30.5 5.25Z"
              fill="#B8B7B7")
          span Вернуться к покупкам
        button.basket__clean(data-basket="clean-btn") Очистить корзину
      .basket__content 
        .basket__items
          each val in basket
            +basket(val)
        .basket-total
          .basket-total__upper 
            img.basket-total__icon(src="./img/basket/basket-icon.svg" alt="basket-icon")
            .basket-total__upper-descr 
              .basket-total__header Ваш заказ:
              .basket-total__subheader 3 товара
          .basket-total__block
            .basket-total__key Итого:
            .basket-total__value 1 368 000 р
            button.basket-total__btn Оформить заказ
  section.basket-modal(data-basket="modal")
    .basket-modal__overlay(data-basket="overlay")
    .basket-modal__wrap
      h2.basket-modal__title Вы точно хотите очистить корзину?
      .basket-modal__btns
        a.basket-modal__btn.basket-modal__btn_light(href="/basket.html") Да
        button.basket-modal__btn.basket-modal__btn_dark(data-basket="btn-cansel") Отмена
