extends inc/layout.pug

block append vars
  - bodyClass = "catalog-outer-page";

block content
  +links(["Главная", "Каталог"])
  include parts/catalog-outer/catalog-goods.pug
  include parts/catalog-outer/catalog-popular.pug
  +banners
