form.order-code
  .order-code__caption Есть промокод?
  input.order-code__input(type="text" placeholder="Введите промокод")
  button.order-code__btn.order(type="button" data-code="btn") Ввести промокод
