include ../../inc/settings.pug

section.service-person
  .service-person__wrap 
    .service-person__descr 
      h2.service-person__title Никита Панков
      ul.service-person__list 
        li Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию.
        li Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию.
        li Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию.
        li Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию.
        li Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию.
    .service-person__img 
      img(src=`${imgPath}service/service-person/person.png` alt="person-image" loading="lazy")
