section.service-includes
  .service-includes__wrap
    h2.service-includes__title Что входит в услугу
    .service-includes__content 
      .service-includes__item 
        .service-includes__item-counter 1
        .service-includes__item-caption Помощь в выборе оборудования с учетом ваших пожеланий и бюджета
        p.service-includes__item-text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки соответствующий условий активизации. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры способствует подготовки и реализации модели развития.
      .service-includes__item 
        .service-includes__item-counter 2
        .service-includes__item-caption Поиск нужного оборудования с гарантией от 3-ех лет по лучшим ценам
        p.service-includes__item-text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки соответствующий условий активизации. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры способствует подготовки и реализации модели развития.
      .service-includes__item 
        .service-includes__item-counter 3
        .service-includes__item-caption Сборка и настройка фермы для максимальной производительности и стабильной работы 24/7
        p.service-includes__item-text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки соответствующий условий активизации. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры способствует подготовки и реализации модели развития.
      .service-includes__item 
        .service-includes__item-counter 4
        .service-includes__item-caption Помощь в выборе сервисов и дальнейшие сопровождение
        p.service-includes__item-text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки соответствующий условий активизации. Значимость этих проблем настолько очевидна, что укрепление и развитие структуры способствует подготовки и реализации модели развития.
