section.service-steps
  .service-steps__wrap 
    h2.service-steps__title Как мы работаем
    .service-steps__content 
      .service-steps__item 
        .service-steps__item-counter 1
        .service-steps__item-caption Заявка
        p.service-steps__item-text Приходите к нам в офис
      .service-steps__item 
        .service-steps__item-counter 2
        .service-steps__item-caption Диагностика
        p.service-steps__item-text Специалист выявляет неисправность
      .service-steps__item 
        .service-steps__item-counter 3
        .service-steps__item-caption Согласование
        p.service-steps__item-text Определяется стоимость и сроки ремонта
      .service-steps__item 
        .service-steps__item-counter 4
        .service-steps__item-caption Ремонт
        p.service-steps__item-text Выполняется ремонт устройства
      .service-steps__item 
        .service-steps__item-counter 5
        .service-steps__item-caption Уведомление
        p.service-steps__item-text Напишем или позвоним Вам по готовности
      .service-steps__item 
        .service-steps__item-counter 6
        .service-steps__item-caption Оплата
        p.service-steps__item-text Проверяете и получаете документы
