section.service-forms
  .service-forms__wrap 
    h2.service-forms__title Форматы консультации
    .service-forms__content 
      .service-forms__item 
        .service-forms__item-header 
          .service-forms__item-title Standart
          .service-forms__item-price Бесплатно
        ul.service-forms__item-list
          li Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию.
          li Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию.
          li Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию.
        button.service-forms__item-btn Оставить заявку
      .service-forms__item 
        .service-forms__item-header 
          .service-forms__item-title Premium
          .service-forms__item-price 1500 руб.
        ul.service-forms__item-list
          li Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию.
          li Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию.
          li Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию.
        button.service-forms__item-btn Оставить заявку
