section.card-modal(data-card-modal="modal")
  .card-modal__overlay(data-card-modal="overlay")
  .card-modal__wrap
    h2.card-modal__title Товар добавлен в корзину!
    .card-modal__btns
      a.card-modal__btn.card-modal__btn_light(href="#") Перейти в корзину
      button.card-modal__btn.card-modal__btn_dark(data-card-modal="btn-cansel") Продолжить покупки
